body {
  background: linear-gradient(90deg, #a8edea, #fed6e3, #ebedee);
}

.box {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 50px;
  background-image: radial-gradient(#30cfd0, #330867);
}

.txt {
  color: #f8f5f2;
  font-size: 48px;
}

.box2 {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 50px;
  background-image: radial-gradient(#4830d0, #670836);
}
